In [282]:
print('Hello World;')

Hello World;

In [283]:
import sys
print(sys.version)

3.11.8 (tags/v3.11.8:db85d51, Feb  6 2024, 22:03:32) [MSC v.1937 64 bit (AMD64)]

In [284]:
#this is comment
"""
This is multiple line comment
dfsgdrgsdrg
drgdrgdrgdrgdrgdrgr
sefsef
"""

'\nThis is multiple line comment\ndfsgdrgsdrg\ndrgdrgdrgdrgdrgdrgr\nsefsef\n'

In [285]:
#Casting and get type

x = str(10)
y = int(10)
z = float(10)

print(type(x),type(y),type(z))

<class 'str'> <class 'int'> <class 'float'>

In [286]:
# Assign multile value

x,y,z = 10,20,30

In [287]:
# one value to multiple variables

x = y = z = "Fubuki"
print(x,y,z)

Fubuki Fubuki Fubuki

In [288]:
#unpack a collection

hololive = ["Fubuki","Okayu","chloe"]
x ,y ,z = hololive
print(x,y,z)

Fubuki Okayu chloe

In [289]:
#make global keyword

x = 444
#define function
def myfunc():
    global x
    x = 555

#call function   
myfunc()

#print out value in x
print(x)

555

In [290]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [291]:
z = 4+5j
print(type(z))

<class 'complex'>

In [292]:
#random munber a to b-1
import random
print(random.randrange(1,10))

9

In [293]:
#Check String 
txt = 'I love fubuki'
print('fubuki' in txt)

print('Okayu' not in txt)

True
True

In [294]:
#string slice
b = "Hello, World!"
print(b[2:5])
print(b[-5:-2])
#reverse string
print(b[::-1])

llo
orl
!dlroW ,olleH

In [295]:
#remove whitespace at start and end of string
b = "   Hello, World!   "
print(b)
b = b.strip()
print(b)

   Hello, World!
Hello, World!

In [296]:
#replace
b = "Hello"
print(b)
b = b.replace("H","J")
print(b)

Hello
Jello

In [297]:
#split string with symbols
a = "hello,world"
a = a.split(',')
a

['hello', 'world']

In [298]:
size = 49
txt = f"I am {size:.2f}"
print(txt)

I am 49.00

In [299]:
#string escape
txt = "\"Now I become death,the destroyer of the world\""
print(txt)

"Now I become death,the destroyer of the world"

In [300]:
#list join to string
my_list = ['Hello',"world"]
x = "".join(my_list)
print(x)

Helloworld

In [301]:
#string format
txt = "I am {size:.2f}!"
txt = txt.format(size = 49)
print(txt)

I am 49.00!

In [302]:
#return position
txt = "I love Fubuki"
x = txt.find("Fubuki")
print(x)

7

In [303]:
#find with interval and return position
x = txt.find("love",0,6)
print(x)

2

In [304]:
# count some part of string in big string
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [305]:
#insert in list
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist)

['apple', 'kiwi', 'mango', 'cherry']

In [306]:
mylist.insert(2,'hello')
print(mylist)

['apple', 'kiwi', 'hello', 'mango', 'cherry']

In [307]:
mylist.append('world')
print(mylist)

['apple', 'kiwi', 'hello', 'mango', 'cherry', 'world']

In [308]:
mylist = ['apple', 'banana', 'cherry']
mylist.pop(0)
print(mylist)

['banana', 'cherry']

In [309]:
list_1 = ["apple", "banana", "cherry"]
list_2 = ["mango", "pineapple", "papaya"]

In [310]:
list_3 = list_1 + list_2
print(list_3)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [311]:
list_1.extend(list_2)
print(list_1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [312]:
list_1.remove('mango')
print(list_1)

['apple', 'banana', 'cherry', 'pineapple', 'papaya']

In [313]:
list_1.pop(1)
print(list_1)

['apple', 'cherry', 'pineapple', 'papaya']

In [314]:
del list_1[1]
print(list_1)

['apple', 'pineapple', 'papaya']

In [315]:
list_1.clear()
print(list_1)

[]

In [316]:
del list_1
print(list_1)

NameError: name 'list_1' is not defined

In [317]:
my_list = [3,8,45,23,1,98,4]
my_list.sort()
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[1, 3, 4, 8, 23, 45, 98]
[98, 45, 23, 8, 4, 3, 1]

In [318]:
list_1 = [1,2,3,4,5,6]
list_2 = list_1.copy()
print(list_2)

[1, 2, 3, 4, 5, 6]